<div class="btn-navigation"></div>
<nav class="navigation">

  <div class="navigation-wrapper">
    <a href="/profile">
      <img src="/img/nav_icons/profile_icon.svg" alt="">
    </a>

    <a href="/historic">
      <img src="/img/nav_icons/callendar_icon.svg" alt="">
    </a>

    <a href="/reserve">
      <img src="/img/nav_icons/clock_icon.svg" alt="">
    </a>
    <a href="/sedes">
      <img src="/img/nav_icons/local_icon.svg" alt="">
    </a>

  </div>

</nav>

<script>
  let btnNav = document.querySelector('.btn-navigation');
  let navigationBar = document.querySelector('.navigation');

  btnNav.addEventListener('click', event => {
    btnNav.classList.toggle('active')
    navigationBar.classList.toggle('active');
  })
</script>