<div class="navigation-desktop">
  <a href="/initial"><img src="/img/FCallendar_logo.svg" alt=""></a>
  <nav>

    <a href="/profile" data-aos="fade-right" data-aos-delay="300">
      <img src="/img/nav_icons/profile_icon.svg" alt="">
      Perfil
    </a>

    <a href="/historic" data-aos="fade-right" data-aos-delay="400">
      <img src="/img/nav_icons/callendar_icon.svg" alt="">
      Agenda
    </a>

    <a href="/reserve" class="active" data-aos="fade-right" data-aos-delay="500">
      <img src="/img/nav_icons/clock_icon.svg" alt="">
      Reservar
    </a>
    <a href="/sedes" data-aos="fade-right" data-aos-delay="600">
      <img src="/img/nav_icons/local_icon.svg" alt="">
      Sedes
    </a>
    <a href="/sair" data-aos="fade-right">
      <img src="/img/log_out.svg" alt="">
      Sair
    </a>
  </nav>
</div>