<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/historic.css">
    <!-- Estilo Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <title>FCallendar</title>
</head>
<body>
    <main class="main">
        <section>
            <span class="title-desk">Meu Histórico</span>
            <div class="divider"></div>
        </section>
        <!-- Utilizacao da biblioteca para fazer o carrocel -->
        <div class="month swiper">
            <div class="swiper-wrapper">
                <div class="month swiper-slide">
                    <p>Janeiro</p>
                </div>
                <div class="month swiper-slide">
                    <p>Fevereiro</p>
                </div>
                <div class="month swiper-slide">
                    <p>Março</p>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="container">
            <p class="day">30</p>
            <p class="week">Seg</p>
            <p class="thirst">Santos - SP</p>
        </div>
    </main>
    <!-- Biblioteca Swiper -->>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- Javascript para o Swiper -->
    <script src="/javascript/historic.js"></script>
</body>
</html>