<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/initial.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <title>FCallendar - <%= nome %>
  </title>
</head>

<body>
  <%- include('./partials/navigation-desktop.ejs') %>
    <section class="profile">
      <div class="profile__img"></div>
    </section>
    <div class="call">
      <h3>Olá, <span class="cl-orange">
          <%= nome %>
        </span>
      </h3>
      <p>O que deseja fazer hoje?</p>
    </div>
    <main class="main">
      <div class="options" data-aos="fade-up">
        <div class="option">
          <div class="links-container">
            <a href="/historic" class="schedule" title="Ver minha agenda"></a>
            <a href="/historic" title="Ver minha agenda">Agenda</a>
          </div>
        </div>

        <div class="option">
          <div class="links-container">
            <a href="/reserve" class="reserve" title="Fazer uma reserva"></a>
            <a href="/reserve" title="Fazer uma reserva">Reservar</a>
          </div>
        </div>

        <div class="option">
          <div class="links-container">
            <a href="/sedes" class="headquarters" title="Sedes"></a>
            <a href="/sedes" title="Sedes">Sedes</a>
          </div>
        </div>

        <div class="option">
          <div class="links-container">
            <a href="/profile" class="profilebu" title="Sedes"></a>
            <a href="/profile" title="Sedes">Perfil</a>
          </div>
        </div>
      </div>
      <div class="welcome">
        <h2>Bem vindo(a), <span class="cl-orange">
            <%=nome %>
          </span>
        </h2>
        <p>O que você deseja acessar hoje?</p>
        <img src="/img/welcome.svg" alt="">
      </div>
    </main>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>