<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/initial.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <title>FCallendar</title>
</head>

<body>

  <section class="profile">
    <div class="profile__img"></div>
  </section>
  <div class="call">
    <h3>Olá, <span class="cl-orange">
        <%= nome %>
      </span>
    </h3>
    <p>O que deseja fazer?</p>
  </div>
  <main class="main">
    <div class="options">
      <div class="option">
        <div class="links-container">
          <a href="/historic" class="circle" title="Ver minha agenda"></a>
          <a href="/historic" title="Ver minha agenda">Agenda</a>
        </div>
      </div>

      <div class="option">
        <div class="links-container">
          <a href="/reserve" class="circle" title="Fazer uma reserva"></a>
          <a href="/reserve" title="Fazer uma reserva">Reservar</a>
        </div>
      </div>

      <div class="option">
        <div class="links-container">
          <a href="/sedes" class="circle" title="Sedes"></a>
          <a href="/sedes" title="Sedes">Sedes</a>
        </div>
      </div>

      <div class="option">
        <div class="links-container">
          <a href="/profile" class="circle" title="Sedes"></a>
          <a href="/profile" title="Sedes">Perfil</a>
        </div>
      </div>
    </div>
  </main>

</body>

</html>