<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/initial.css">
  <title>FCallendar</title>
</head>

<body>

  <section class="profile">
    <div class="profile__img"></div>
  </section>
  <div class="call">
    <h3>Olá, <%= nome %>
    </h3>
    <p>O que deseja fazer?</p>
  </div>
  <main class="main">
    <div class="options">

      <div class="option">
        <a href="/reserve">
          <div class="circle"></div>
          <span>Agenda</span>
        </a>
      </div>

      <div class="option">
        <a href="/reserve">
          <div class="circle"></div>
          <span>Reservar</span>
        </a>
      </div>

      <div class="option">
        <a href="/sedes">
          <div class="circle"></div>
          <span>Sedes</span>
        </a>
      </div>
      <div class="option">
        <a href="/sedes">
          <div class="circle"></div>
          <span>Perfil</span>
        </a>
      </div>

    </div>
  </main>

</body>

</html>