<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/initial.css">
  <title>FCallendar</title>
</head>

<body>
  <main class="main">
    <div class="logo"></div>
    <h2 class="title">Call to action</h2>

    <div class="options">

      <div class="option">
        <a href="/reserve">
          <div class="circle"></div>
          <span>Agenda</span>
        </a>
      </div>

      <div class="option">
        <a href="/reserve">
          <div class="circle"></div>
          <span>Reservar</span>
        </a>
      </div>

      <div class="option">
        <a href="/sedes">
          <div class="circle"></div>
          <span>Sedes</span>
        </a>
      </div>

    </div>
  </main>

</body>

</html>