<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <title>FCallendar</title>
</head>

<body>
  <main class="main">
    <div class="logo"></div>
    <form action="/login" method="POST">
      <div class="input-field">
        <input type="email" id="email" name="email" class="input-clas" autocomplete="off" placeholder=" " required />
        <label for="email" class="input-label">Email</label>
      </div>

      <div class="input-field">
        <input type="password" id="senha" name="password" class="input-clas" autocomplete="off" placeholder=" " required />
        <label for="senha" class="input-label">Senha</label>
      </div>

      <a href="#" class="forget">Esqueceu a senha?</a>
      <button class="btn">Enviar</button>
    </form>
  </main>
</body>

</html>