<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <title>FCallendar - Profile</title>
</head>

<body>
  <section class="profile">
    <div class="profile__img"></div>
    <a id="edit-icon" href="/profile/edit"><img src="/img/edit_user.svg" alt="Icone de um link para editar perfil"></a>
  </section>
  <main class="main">
    <h3 class="name-user">
      <%= user.nome %>
    </h3>

    <nav>
      <div class="nav__block">
        <a href="#">
          Unidade de <%- user.unidade==1 ? 'São Paulo' : 'Santos' %> </a>
        <div class="divider"></div>
        <a href="#">Relatório de reserva <img src="/img/arrow.svg" alt="Icone de seta"></a>
      </div>
      <div class="nav__block">
        <a href="#">Termos de uso <img src="/img/arrow.svg" alt="Icone de seta"></a>
      </div>
    </nav>
    <a href="/sair" class="btn">Sair</a>
  </main>
</body>

</html>