<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/editProfile.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <title>FCallendar</title>
</head>

<body>

  <form enctype="multipart/form-data" action="/profile/edit" method="POST">
    <section class="profile">
      <div class="profile__img">
        <label class="label-image" for="image-input"><img src="/img/upload-big-arrow.png"></label>
        <input type="file" id="image-input" class="file-input" name="inputImg">
      </div>
    </section>

    <main class="main">
      <div class="input-field">
        <input value="<%=user.nome%>" type="text" name="nome" id="nome" />
        <label for="nome">Nome</label>
      </div>
      <h5>Unidades</h5>
      <p>
        <input <%- user.unidade_id==2 ? 'checked' : '' %> value="2" type="radio" id="santos" name="radio_group" checked>
        <label for="santos">Santos</label>
      </p>
      <p>
        <input value="1" <%- user.unidade_id==1 ? 'checked' : '' %> type="radio" id="sp" name="radio_group">
        <label for="sp">São Paulo</label>
      </p>
      <button type="submit" class="btn">Salvar</button>
  </form>
  </main>
  <script>
    let divImg = document.querySelector('.profile__img');
    let label = document.querySelector('.label-image');
    divImg.addEventListener('mouseover', () => {
      label.classList.add('active')
    })
    divImg.addEventListener('mouseleave', () => {
      label.classList.remove('active')
    })
  </script>
</body>

</html>