<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/editProfile.css">
  <title>FCallendar</title>
</head>

<body>

  <section class="profile">
    <div class="profile__img"></div>
  </section>

  <main class="main">
    <form action="">
      <div class="input-field">
        <input value="<%=user.nome%>" type="text" id="nome" />
        <label for="nome">Nome</label>
      </div>
      <h5>Unidades</h5>
      <p>
        <input value="2" type="radio" id="santos" name="radio-group" checked>
        <label for="santos">Santos</label>
      </p>
      <p>
        <input value="1" type="radio" id="sp" name="radio-group">
        <label for="sp">São Paulo</label>
      </p>
      <button type="submit" class="btn">Salvar</button>
    </form>
  </main>

</body>

</html>