<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/reserve.css">
    <link rel="stylesheet" href="/css/calendar.css">

    <title>FCallendar</title>
</head>
<body>
    <main class="main">
        <section>
            <span class="title-desk">Unidade de Santos</span>
            <div class="divider"></div>
        </section>
        <div class="baseCalendar">
            <div class="calendar" id="calendar">
            </div>
        </div>
        <div class="containerView">
            <div class="containerTime">
                <p class="day">30</p>
                <p class="week">Seg</p>
                <p class="thirst">Santos - SP</p>
            </div>
            <div class="containerTime">
                <p class="day">23</p>
                <p class="week">Seg</p>
                <p class="thirst">Santos - SP</p>
            </div>
            <div class="containerTime">
                <p class="day">12</p>
                <p class="week">Qua</p>
                <p class="thirst">Santos - SP</p>
            </div>
        </div>
        <a class="btn" href="/">Confirmar</a>
    </main>
                <!-- Javascript para o velocimetro -->
                <script src="/javascript/gauge.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
                <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
                <script  type="text/javascript" src="/javascript/calendar.js"></script>
                <script type="text/javascript">
                    let calendar = new Calendar('calendar');
                    calendar.getElement().addEventListener('change', e => {
                        console.log(calendar.value().format('LLL'));
                    });
                </script>
</body>
</html>