<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/sedes.css">
  <link rel="stylesheet" href="/css/global.css">
  <title>FCallendar</title>
</head>

<body>
  <main class="main">
    <div class="block"></div>

    <section>
      <span class="title-desk">Santos</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="speedometermonth">
          <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <span class="title-desk">São Paulo</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="speedometermonth">
          <div class="gauge" id="gauge2">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <a class="btn" href="/">Reservar</a>
  </main>
  <script src="/javascript/gauge.js"></script>
</body>

</html>