<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/sedes.css">
  <title>FCallendar</title>
</head>

<body>
  <main class="main">
    <div class="block"></div>

    <section>
      <span class="title-desk">Santos</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>82.3 <span>%</span></h2>
          </div>
        </div>
        <p class="text">de ocupação</p>
      </div>
    </section>

    <section>
      <span class="title-desk">São Paulo</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="percent">
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>82.3 <span>%</span></h2>
          </div>
        </div>
        <p class="text">de ocupação</p>
      </div>
    </section>


    <a class="btn" href="/">Reservar</a>
  </main>
  <script src="/javascript/gauge.js"></script>
</body>

</html>