<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/sedes.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="shortcut icon" type="imagex/x-icon" href="/img/FCallendar-Logo-v1.ico">
  <title>FCallendar</title>
</head>

<body>
  <%- include('./partials/navigation-desktop.ejs') %>
    <main class="main">
      <h2 class="squad-error">#Squad43Error</h2>
      <h2 style="text-align: center;">Ops... Esta página está em manutenção</h2>
      <img src="/img/manutencao.svg" alt="">
      <!-- <div class="block"></div>

    <section>
      <span class="title-desk">Santos</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="speedometermonth">
          <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
        </div>
        <p>De ocupação</p>
      </div>
    </section>

    <section>
      <span class="title-desk">São Paulo</span>
      <div class="divider"></div>
      <div class="occupation">
        <div class="speedometermonth">
          <div class="gauge" id="gauge2">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
        </div>
        <p>De ocupação</p>
      </div>
    </section>
    <a class="btn" href="/">Reservar</a> -->
    </main>
    <%- include('./partials/navigation.ejs') %>
      <script src="/javascript/gauge.js"></script>
      <script>
        let link = document.querySelector("#sedes");
        link.classList.add('active');
      </script>
</body>

</html>