*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-calendar: #f7f7f7;
  --color-cell: #333333;
  --color-cell-disabled: #bdbdbd;
}

.baseCalendar {
  min-height: 100vh;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
  margin-bottom: -10rem;
  width: 109%;
  margin-left: -1.6rem;
}

.calendar {
  padding: 20px 10px;
  background-color: var(--color-bg-calendar);
  border-radius: 1.2rem;
  width: 120%;
  max-width: 600px;
  font-family: Metropolis;
  font-size: 1.2rem;
  font-weight: 700;
  color: #3c3c3c;
}

.calendar__header {
  color: #3c3c3c;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.calendar .control {
  color: #3c3c3c;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 2rem;
}

.grid__header,
.grid__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid__header {
  color: #3c3c3c;
  margin-bottom: 20px;
}

.grid__body {
  grid-auto-rows: 40px;
  color: var(--color-cell);
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__cell--gd {
  cursor: pointer;
}

.grid__cell--selected {
  color: var(--color-bg-calendar);
  background-color: #ff6831;
  border-radius: 55%;
}

.grid__cell--disabled {
  color: var(--color-cell-disabled);
  cursor: not-allowed;
}

.month-name {
  font-size: 1.5rem;
  color: #3c3c3c;
}
.control.control--prev,
.control.control--next {
  margin-top: -0.3rem;
}

@media (min-width: 650px) {
  .baseCalendar {
    min-height: 0;
    margin: 0;
    width: 90%;
    padding: 0;
  }
  .calendar {
    width: 70%;
    margin-left: -10rem;
  }
}
