@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Metrophobic", sans-serif;
}
/*Classe para ateração do Titulo*/
.title-desk {
  font-weight: bold;
}

/*Classe reponsavel pelo divisor*/
.divider {
  width: 100%;
  height: 0.2rem;
  background: #000;
  margin-top: 1rem;
}

/*Classe para alterar estilização dos botões*/

.btn {
  display: block;
  width: 18.75rem;
  margin: 7rem auto;
  text-align: center;
  text-decoration: none;
  padding: 1.6rem 3.12rem;
  background: #c4c4c4;
  font-weight: bold;
  color: #000;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: 0.25s;
}