@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Metrophobic", sans-serif;
}

.divider {
  width: 100%;
  height: 0.2rem;
  background: #000;
  margin-top: 1rem;
}
