@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Metrophobic", sans-serif;
}
/*Classe para ateração do Titulo*/
.title-desk {
  font-weight: bold;
}

/*Classe reponsavel pelo divisor*/
.divider {
  width: 95%;
  height: 0.2rem;
  background: #000;
  margin-top: 0.5rem;
}

/*Classe para alterar estilização dos botões*/

.btn {
  display: block;
  width: 18.75rem;
  margin: 7rem auto;
  text-align: center;
  text-decoration: none;
  padding: 1.6rem 3.12rem;
  background: #c4c4c4;
  font-weight: bold;
  color: #000;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: 0.25s;
}

/*View port*/
.main {
  padding: 3rem;
}

/* Estilizacao dos botoes dia, semana e sede*/
.containerView {
  margin: 0;
  display: grid;
}
.containerTime {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  margin: 2rem;
  border-radius: 1.2rem;
  height: 7rem;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.day {
  grid-column: 1/2;
  text-align: center;
  height: 0.8rem;
  margin-top: 1.1rem;
  border-right: 0.1rem solid #f9f8f8;
}

.week {
  grid-column: 1/2;
  text-align: center;
  margin-top: -0.5rem;
  border-right: 0.1rem solid #f9f8f8;
}

.thirst {
  margin-top: -1.5rem;
  grid-column: 2/3;
  text-align: left;
  margin-left: 1rem;
}

/* Responsavel pela estilizacao do velocimetro */
.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #ff9900;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 85%;
  height: 170%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

.percent {
  font-size: 3rem;
  color: grey;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.occupation {
  text-align: center;
  font-weight: bold;
}