/* Estilizacao da biblioteca Swiper*/
.swiper {
    width: 32rem;
    height: 2.3rem;
    margin-top: 2rem;
    --swiper-theme-color: #333333;
    --swiper-navigation-size: 2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }