/* Estilizacao da biblioteca Swiper*/
.swiper {
  width: 80%;
  height: 2.3rem;
  margin-top: 2rem;
  --swiper-theme-color: #333333;
  --swiper-navigation-size: 2rem;
  text-align: center;
}
.main {
  padding-bottom: 10rem;
}
/* Flexibilidade do velocimetro */
.speedometermonth {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilizacao do span no final */
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1d2125;
  font-size: 2.5rem;
}

.question {
  color: #ff9900;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}

.month-select {
  position: relative;
}
.months {
  margin-top: 0.8rem;
  border: none;
  text-align-last: center;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 1.8rem;
  height: 4rem;
  width: 100%;
  pointer-events: none;
  background-color: transparent;
}

.prev,
.next {
  border: none;
  background: transparent;
  width: 1.4rem;
  height: 1.4rem;
  box-shadow: -2px 2px 0 black;
  position: absolute;
  top: 50%;
}

.prev {
  left: 0;
  transform: rotate(45deg) translateY(-50%);
}
.next {
  right: 0;
  transform: rotate(-135deg) translateY(50%);
}

.btn {
  padding: 1.9rem 3rem;
  margin-top: 1rem;
  background: radial-gradient(
    97.61% 97.61% at 8.53% 2.39%,
    #887cc9 0%,
    #5647a8 45.83%,
    #3a2a83 100%
  );
}

@media (min-width: 650px) {
  .divider {
    display: none;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    grid-template-areas: "title title" "historic relatorio";
    gap: 2rem;
    padding: 6rem;
    padding-top: 5rem;
  }
  .btn {
    width: 26rem;
    padding: 1.6rem;
    margin-top: 7rem;
    text-align: center;
    vertical-align: middle;
  }
  .container {
    grid-area: historic;
  }
  .relatorio {
    grid-area: relatorio;
    padding-left: 2rem;
  }
  .wrapper-historic {
    overflow-y: scroll;
    height: 34rem;
    padding-right: 1rem;
  }
  .relatorio {
    margin-top: 1.5rem;
  }
}
