.profile {
  width: 100%;
  height: 16rem;
  background: linear-gradient(#fe4400, #ff7542, #ff8e65);
  position: relative;
  margin-bottom: 9.6rem;
}
.main {
  padding: 1rem;
}
.profile__img {
  clip-path: circle();
  width: 14rem;
  height: 14rem;
  background: #3c3c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.call {
  text-align: center;
}
.call p {
  font-size: 2rem;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem;
}
.option {
  text-align: center;
  display: inline-block;
}
.links-container {
  display: inline-block;
}
.links-container:hover a {
  transition: 0.25s;
  color: var(--primary-color);
}
.option a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}
.schedule {
  clip-path: circle();
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  background: url("/img/schedule.svg") no-repeat;
  background-size: cover;
  display: block;
}

.reserve {
  clip-path: circle();
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  background: url("/img/reserve.svg") no-repeat;
  background-size: cover;
  display: block;
}

.headquarters {
  clip-path: circle();
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  background: url("/img/headquarters.svg") no-repeat;
  background-size: cover;
  display: block;
}

.profilebu {
  clip-path: circle();
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  background: url("/img/profilebu.svg") no-repeat;
  background-size: cover;
  display: block;
}
/* @media (max-width: 370px) {
  .schedule {
    width: 10rem;
    height: 10rem;
    background-size: cover;
  }
} */
@media (min-width: 650px) {
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
