body {
  position: relative;
}
.bg-icon {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.l-top {
  left: 0;
  top: 0;
  background-image: url("/img/cube-1.svg");
  background-position: left;
}
.r-top {
  right: 0;
  top: -1.6rem;
  background-image: url("/img/toroid-1.svg");
}

.r-middle {
  right: 0;
  top: 50%;
  background-image: url("/img/pill-1.svg");
  background-position: right;
}

.l-botton {
  left: 0;
  bottom: 20%;
  background-image: url("/img/pill-2.svg");
  background-position: left;
}
.r-botton {
  right: 0;
  bottom: 0;
  background-image: url("/img/cube-2.svg");
  background-position: right;
}

.b-botton {
  bottom: 0;
  left: 10%;
  background-image: url("/img/sphere.svg");
  background-position: bottom;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
form {
  width: 80%;
  margin-bottom: 15rem;
}
form label {
  text-align: left;
  font-size: 1.8rem;
  color: #ff8e65;
}
.saly-icon {
  background: url("/img/saly-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 34rem;
  height: 34rem;
  margin-top: 2rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid var(--primary-color);
  margin-bottom: 5.7rem;
  width: 100%;
}
.input-wrapper > input {
  border: none;
  width: 100%;
  height: 3rem;
  outline: none;
}
.forget {
  font-size: 1.9rem;
  text-decoration: none;
  align-self: flex-start;
  color: #3c3c3c;
  transition: 0.25s;
}

.forget:hover {
  color: var(--primary-color);
}

.modalDialog {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 90%;
  height: 40rem;
  position: relative;
  margin: 10% auto;
  padding: 4rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.close {
  display: flex;
  width: 100%;
  margin: 7rem auto;
  justify-content: center;
  text-decoration: none;
  padding: 1.6rem 3.12rem;
  background: #ff0700;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  transition: 0.25s;
  margin-top: 0rem;
}

.closeAgain {
  display: flex;
  width: 100%;
  margin: 7rem auto;
  justify-content: center;
  text-decoration: none;
  padding: 1.6rem 3.12rem;
  background: #6263ab;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  transition: 0.25s;
  margin-top: 0rem;
}

.phrase {
  font-size: 1.7rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.imgfeed {
  width: 100%;
  margin-bottom: 0.8rem;
}
.btn {
  background: radial-gradient(
    97.61% 97.61% at 8.53% 2.39%,
    #ff8e65 0%,
    #ff7542 45.83%,
    #fe4400 100%
  );
}
@media (min-width: 650px) {
  body {
    background-image: url("/img/background_login.png");
    height: 100vh;
  }
  .bg-icon {
    display: none;
  }
  .main {
    width: 47rem;
    max-height: 100vh;
    background: #fff;
    position: absolute;
    right: 17rem;
    top: 1%;
    border-radius: 1.8rem;
  }
  .saly-icon {
    background-image: url("/img/FCallendar_logo.svg");
    background-size: cover;
    width: 31rem;
    height: 8rem;
    margin: 0;
    margin-bottom: 12rem;
  }
  form {
    margin-bottom: 0;
  }
  .btn {
    margin-bottom: 7rem;
  }
}
