.block {
  width: 18rem;
  height: 7.4rem;
  background: url("/img/FCallendar_logo.svg") no-repeat;
  background-size: cover;
}

section {
  margin-top: 4.8rem;
}
.speedometermonth {
  display: flex;
  justify-content: center;
}
.btn:hover {
  filter: brightness(1.1);
}
