.block {
  width: 18.4rem;
  height: 7.4rem;
  background-color: #c4c4c4;
}

section {
  margin-top: 4.8rem;
}
.speedometermonth {
  display: flex;
  justify-content: center;
}
.btn:hover {
  filter: brightness(1.1);
}
