.main {
  min-height: 100vh;
  padding: 3rem;
}

.block {
  width: 18.4rem;
  height: 7.4rem;
  background-color: #c4c4c4;
}

section {
  margin-top: 4.8rem;
}

.title-desk {
  font-weight: bold;
}

.occupation {
  margin-top: 5.9rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.occupation .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.occupation .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.occupation .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  transform: translate(5px, 5px);
  stroke: #000;
  stroke-dashoffset: 440;
  stroke-dasharray: 440;
  stroke-linecap: round;
}
.occupation .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #bdbdbd;
}
.occupation .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 82.3) / 100);
  stroke: #ff9900;
}
.occupation .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.occupation .percent .number h2 {
  font-size: 4rem;
}
.occupation .percent .number span {
  font-size: 2.5rem;
}
.occupation .text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn {
  display: block;
  margin: 7rem auto;
  text-align: center;
  text-decoration: none;
  padding: 1.6rem 6.2rem;
  background: #c4c4c4;
  font-weight: bold;
  color: #000;
  font-size: 1.6rem;
  border-radius: 10rem;
  transition: 0.25s;
}
.btn:hover {
  filter: brightness(1.1);
}
